.slideLR-leave-active,
.slideLR-enter-active {
  transition: all 0.3s;
}
.slideLR-leave-active,
.slideLR-enter {
  transform: translateX(100%);
}
.slideUpDown-leave-active,
.slideUpDown-enter-active {
  transition: all 0.3s;
}
.slideUpDown-leave-active,
.slideUpDown-enter {
  transform: translateY(100%);
}
